/* from 0 to 1008px */
@media (max-width: 63em) {
  .main-nav {
    display: none;
  }

  .burger {
    display: inline-block;
  }

  .hero {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .hero-img {
    width: 40%;
  }

  .steps {
    grid-template-columns: 1fr 1fr;
  }

  .features-1 {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .features-1-text {
    padding: 2.4rem 0;
  }

  .features-1-img {
    display: none;
  }

  .features-1-container {
    text-align: left;
    justify-content: center;
  }

  .features-2-content {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .features-2-img {
    max-width: 100%;
  }

  .steps-2 {
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
  }

  .how-2-vid {
    flex-direction: column;
    row-gap: 4.8rem;
    text-align: center;
  }

  .text-cont {
    max-width: 100%;
  }

  .available {
    grid-template-columns: 1fr;
  }

  .pricing-cards {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 1.8rem;
  }

  .testimonials-blue-box {
    min-height: 35rem;
  }

  .footer-info {
    grid-template-columns: 1fr 1fr;
    column-gap: 9.2rem;
    row-gap: 9.2rem;
  }

  .logo-subdescription {
    width: 80%;
  }

  .cont-info:last-child .contact-icon {
    font-size: 2.2rem;
  }
}

/* from 0 to 800px */
@media (max-width: 50em) {
  html {
    /* font-size 1rem = 8px; */
    font-size: 50%;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .start-btn:link,
  .start-btn:visited {
    padding: 1.4rem 1.4rem;
  }

  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.4rem;
  }

  .section-hero {
    min-height: 80vh;
    display: grid;
    align-content: center;
  }

  .hero-head {
    font-size: 5rem;
  }

  .mail-box {
    min-width: 80%;
  }

  .hero-img {
    width: 40%;
  }

  .section-how-head {
    text-align: center;
    flex-direction: column;
    row-gap: 1rem;
  }

  .steps {
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 2.4rem;
  }

  .step .ico {
    margin: 0 auto 2.4rem;
  }

  .features-1-container {
    flex-direction: column;
  }

  .features-2-col {
    width: 100%;
    padding: 0 3.2rem;
  }

  .features-2-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-2-img {
    max-width: 90%;
  }

  .steps-2 {
    grid-template-columns: 1fr;
    margin: 0 2.4rem 9.6rem;
  }

  .text-cont {
    text-align: left;
  }

  .prev-next {
    display: none;
  }

  .pricing-cards {
    grid-template-columns: 1fr;
  }

  .testimonials-blue-box {
    padding: 4rem 2.4rem;
  }

  .testimonials-content-box {
    display: grid;
    gap: 4rem;
    align-content: center;
    justify-items: center;
  }

  .testimonials-text {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .bottom-box {
    justify-content: center;
    text-align: center;
  }

  .footer-info {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
    justify-items: center;
    text-align: center;
  }

  .logo-subdescription {
    width: 100%;
  }

  .social {
    justify-content: center;
  }

  .cont-info {
    justify-content: center;
  }

  .foot {
    flex-direction: column;
    row-gap: 3.2rem;
    padding: 4.8rem 0;
  }
}

@media (max-width: 28em) {
  .downloads {
    flex-direction: column;
  }
}
